.DS_Store
node_modules
/dist
../Vue\351\241\271\347\233\256\346\216\245\345\217\243.md

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
